<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="remoto.filemanager"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:description="@string/APP_DESC">
        <activity android:name=".RemotoFileManager"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="com.remotocon.category.PLUGIN" />
            </intent-filter>
            <meta-data android:name="ServerDll" android:value="FileManagerServerPlugin.dll" />
            <meta-data android:name="ServerDllUrl" android:value="http://www.remotocon.com/serverplugins/FileManagerServerPlugin.dll" />
        </activity>
        
    <!-- <uses-permission android:name="android.permission.INTERNET" />  --> 
    <uses-sdk android:minSdkVersion="3" />
</application>




<uses-sdk android:minSdkVersion="3"></uses-sdk>
</manifest> 